.hero{
    height: 44rem;
    background: url("asset/hero.jpg") top no-repeat;
    background-size: cover;
    color: white;
    position: relative;

    &-wrapper{
      position: absolute;
      bottom: 7rem;
      left: 30rem;

      @include Responsive(tablet){
        left: 8rem;
      }
      @include Responsive(phone-sm){
        left: 1rem;
      }
    }
}